.env
__pycache__/
venv/
.DS_Store
eval_pdfs/l_a_context.txt
eval_pdfs/l_a_o1_student_ans.txt
eval_pdfs/l_a_questions.txt
eval_pdfs/l_a_ref_rubric.txt
eval_pdfs/physics_context.txt
eval_pdfs/physics_o1_student_ans.txt
eval_pdfs/physics_questions.txt
eval_pdfs/physics_ref_rubric.txt
eval_pdfs/qa_context.txt
eval_pdfs/qa_o1_student_ans.txt
eval_pdfs/qa_questions.txt
eval_pdfs/qa_ref_rubric.txt
uploads/*
!uploads/.gitkeep
eval_pdfs/l_a_rating.txt
eval_pdfs/physics_rating.txt